{
    "root": true,
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react/jsx-runtime",
        "plugin:react-hooks/recommended",
        "plugin:jsx-a11y/recommended",
        "plugin:prettier/recommended"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "parser": "@typescript-eslint/parser",
    "ignorePatterns": ["**/node_modules", "**/dist", "**/build"],
    "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "no-unused-vars": "warn",
        "no-undef": "off",
        "no-console": "warn",
        "prettier/prettier": ["error"]
    }
}
