{
    "bracketSpacing": true,
    "printWidth": 140,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "endOfLine": "auto"
}
